.rating {
  grid-area: rating;
  display: flex;
  gap: 4px;
  align-items: center;

  span {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active {
    path {
      fill: var(--secondary);
    }
  }
}
