.faq {
  background-color: var(--primary);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    color: var(--white);
  }
}

.wrapper {
  width: 880px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.list {
  border-bottom: solid 1px var(--white);
}

@media screen and (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
}
