.counter {
  display: flex;
  align-items: center;
  width: 188px;
  justify-content: space-between;
}

.count {
  color: var(--gray30);
  white-space: nowrap;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
