@import "../styles/normalize.scss";
@import "../styles/vars.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Jost", Arial, Helvetica, sans-serif;
  font-weight: 400;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
}

main {
  flex-grow: 1;
}

.container {
  padding-left: 130px;
  padding-right: 130px;
}

.link {
  color: var(--white);

  &:hover {
    text-decoration: underline;
    color: var(--gray);
    transition: all var(--transitionDuration) ease;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
