@import "../styles/normalize.scss";
@import "../styles/vars.scss";

body {
  font-family: "Jost", Arial, Helvetica, sans-serif;
  font-weight: 400;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
}

main {
  flex-grow: 1;
  width: 100%;
}

.container {
  padding-left: 130px;
  padding-right: 130px;
}

.link {
  color: var(--white);
  transition: all var(--transitionDuration) ease;

  &:hover {
    text-decoration: underline;
    color: var(--gray);
  }
}

.btn {
  width: fit-content;
  display: inline-flex;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary);
  border-radius: 4px;
  color: var(--white);
  transition: all var(--transitionDuration) ease;

  &:hover {
    background-color: var(--cherry);
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn {
    width: 100%;
  }
}
