:root {
  //colors
  --primary: #484283;
  --secondary: #f14f4f;
  --white: #ffffff;
  --gray00: #f6f6f6;
  --gray10: #c4c4c4;
  --gray20: #b2b5bb;
  --gray30: #444b58;
  --gray40: #646464;
  --gray50: #d5d5d5;
  --gray60: #e5e5e5;
  --gray70: #b2b5bb;
  --cherry: #8c2828;

  //transition
  --transitionDuration: 0.4s;
}
