:root {
  //colors
  --primary: #484283;
  --secondary: #f14f4f;
  --white: #ffffff;
  --gray00: #f6f6f6;
  --gray10: #c4c4c4;
  --gray20: #b2b5bb;
  --gray30: #444b58;
  --cherry: #8c2828;

  //transition
  --transitionDuration: 0.4s;

  //breakpoints
  --tablet: 992px;
  --mobile: 575px;
}
