:root {
  //colors
  --primary: #484283;
  --secondary: #f14f4f;
  --white: #ffffff;
  --gray: #c4c4c4;

  //transition
  --transitionDuration: 0.1s;

  //breakpoints
  --tablet: 992px;
  --mobile: 575px;
}
