.cart {
  .wrapper {
    width: 100%;
    max-width: 1180px;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .content {
    display: flex;
    gap: 48px;
    padding-top: 48px;
    justify-content: space-between;
  }

  .list {
    padding: 19px 40px;
    border-radius: 4px;
    border: solid 1px var(--gray10);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 776px;
  }

  .total {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 436px;
  }

  .totalCount {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: var(--gray20);

    span {
      color: var(--gray30);
    }
  }

  .discount {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    color: var(--gray20);
    padding-bottom: 19px;
    border-bottom: solid 1px var(--gray60);

    span {
      font-weight: 700;
      color: var(--gray30);
    }
  }

  .totalPrice {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    color: var(--gray20);

    span {
      font-weight: 700;
      color: var(--gray30);
    }
  }

  .message {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    color: var(--gray70);
    margin: 0 auto;
  }

  @media screen and (max-width: 1366px) {
    .content {
      display: flex;
      flex-direction: column;
    }

    .list {
      max-width: unset;
      padding: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .content {
      padding-top: 24px;
      padding-bottom: 24px;
      gap: 24px;
    }
  }

  @media screen and (max-width: 575px) {
    .list {
      padding: 0;
    }
  }
}
