.accordion {
  padding-top: 19px;
  border-top: solid 1px var(--white);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  &.active {
    .content {
      opacity: 1;
      max-height: 300px;
    }
    .icon {
      transform: rotate(45deg);
    }
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    min-height: 40px;
    padding-right: 1px;
  }

  .icon {
    height: 25px;
    transition: all var(--transitionDuration) ease;
    svg {
      width: 25px;
      height: 25px;
    }
  }

  .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
    text-align: left;
  }

  .content {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    transition: all var(--transitionDuration) ease-in;
    will-change: max-height;

    .divider {
      height: 20px;
    }

    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      color: var(--white);
    }
  }
}
