.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-grow: 1;

  span {
    font-size: 68px;
    color: var(--secondary);
  }

  h1 {
    font-size: 28px;
    color: var(--gray30);
  }

  p {
    color: var(--gray30);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  a {
    color: var(--gray30);
  }
}
